
.cardDetails{
    /* width: 400px; */
    margin: auto;
    border: 3px solid #2c2c2c89;
    border-radius: 5px;
    box-shadow: 5px 4px 30px 2px #83818189;
    cursor: n-resize;
}
.cardDetails img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: 200px;
    transition: 8s all ease;
  }

  .cardDetails img:hover {
    object-position: bottom;
  }