

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');





h2 {
  font-size:2rem;
  margin-bottom:1rem;
}
.form-container {
  display:flex;
  /* background-color: #81073c36; */
  border-radius: 10px;
  padding-bottom: 30px;
}

.left-container {
  flex:1;
  height:480px;
  
  /* align-items:center; */
}
.right-container {
  display:flex;
  flex:1;
  height:580px;

  justify-content:center;
  align-items:center;
}

.left-container {
  display:flex;
  flex:1;
  height:480px;
  justify-content:center;
  align-items:center;
    color: white;
}

.left-container p {
  font-size:0.9rem;
}

.right-inner-container {
  width:70%;
  height:80%;
  text-align:center;
}



input, textarea {
	background-color: rgb(179, 166, 166);
	border: none;
	padding: 12px 15px;
    color: black;
	margin: 8px 0;
	width: 100%;
  font-size:0.8rem;
}

input:focus, textarea:focus{
  outline:1px solid teal;
}



button:hover {
  opacity:0.7;
}
@media only screen and (max-width: 600px) {
  .left-container{
    display: none;
  }

}

@media only screen and (min-width: 600px) {
  .sm-view {
    display:none;  
  }
}

form p {
  text-align:left;
}