
/* body{
 background: url('../src/assets/Image/Black\ Orange\ Modern\ Portfolio\ Cover\ Document.png');
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
}
body::before{
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  position: absolute;
  opacity: 0.8;
} */

body{
  /* background: #d0d9f2; */
}
