.bannerDesign{
    background-image: url('../../../assets/Image/Black Modern Geometric Quotes Twitter Header.png');
    background-repeat: no-repeat;
    
}
.darkBannerDesign{
    background-image: url('../../../assets/Image/dBlack Modern Geometric Quotes Twitter Header.png');
    background-repeat: no-repeat;   
}